# Ignore Python cache
__pycache__/
*.pyc

# Ignore __pycache__ folders in all apps
backend/apps/**/__pycache__/

# (Optional) ignore compiled migrations cache explicitly
backend/apps/**/migrations/__pycache__/*.pyc

# Ignore all Django migration files (all apps)
backend/apps/**/migrations/*.py

# But keep __init__.py
!backend/apps/**/migrations/__init__.py

# Environment variables
backend/core/.env


# SQLite database
*.sqlite3
*.db
logs/
*.log

# Tailor Billing Manager - Build artifacts
tailor-billing-manager/build/
tailor-billing-manager/dist/
tailor-billing-manager/*.spec
tailor-billing-manager/__pycache__/